<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IDataKeyTypeDAO">
    <resultMap type="DataKeyType" id="DataKeyTypeResult">
        <result property="uuid" column="uuid"/>
        <result property="typeCode" column="typeCode"/>
        <result property="typeName" column="typeName"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <resultMap type="TreeNode" id="ZTreeNodeResult">
        <result property="id" column="type_code"/>
        <result property="pid" column="sort"/>
        <result property="code" column="type_code"/>
        <result property="name" column="type_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 查找所有 -->
    <select id="listData" parameterType="com.xerp.core.entity.DataKeyType" resultMap="DataKeyTypeResult">
        select * from tbl_sys_data_key_type where 1 = 1 order by sort asc
    </select>

    <!-- 查找指定 type_code-->
    <select id="listByTypeCode" parameterType="com.xerp.core.entity.DataKeyType" resultMap="DataKeyTypeResult">
        select * from tbl_sys_data_key_type where type_code = #{code}
    </select>

    <!-- 查找指定 Code-->
    <select id="listByCode" parameterType="com.xerp.core.entity.DataKeyType" resultMap="DataKeyTypeResult">
        select * from tbl_sys_data_key_type where type_code = #{code}
    </select>

    <!-- 樹狀列表 -->
    <select id="dataKeyTypeZTree" parameterType="TreeNode" resultMap="ZTreeNodeResult">
        select uuid,type_code,type_name,status,sort from tbl_sys_data_key_type where 1 = 1 order by sort asc
    </select>

    <!-- 新增 -->
    <insert id="insertData">
        insert into tbl_sys_data_key_type
        (uuid,status,type_code,type_name,sort) values
        (#{uuid},#{status},#{typeCode},#{typeName},#{sort})
    </insert >

    <!-- 更新 -->
    <update id="updateData">
        update tbl_sys_data_key_type set
        status = #{status},
        type_code = #{typeCode},
        type_name = #{typeName},
        sort = #{sort}
        where uuid = #{uuid}
	</update>

    <!-- 刪除 typeCode-->
    <delete id="deleteDataByTypeCode">
        delete from tbl_sys_data_key_type where type_code = #{typeCode}
    </delete>

</mapper>
