<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IFlowNodeDAO">
    <resultMap type="FlowNode" id="FlowNodeResult">
        <result property="uuid" column="uuid"/>
        <result property="flowUuid" column="flowUuid"/>
        <result property="status" column="status"/>
        <result property="nodeCode" column="nodeCode"/>
        <result property="nodeName" column="nodeName"/>
        <result property="nodeType" column="nodeType"/>
        <result property="handlerRoleCode" column="handlerRoleCode"/>
        <result property="handlerRoleName" column="handlerRoleName"/>
        <result property="handlerFieldCode" column="handlerFieldCode"/>
        <result property="handlerFieldName" column="handlerFieldName"/>
        <result property="handlerCode" column="handlerCode"/>
        <result property="handlerName" column="handlerName"/>
        <result property="editField" column="editField"/>
        <result property="requiredFieldCode" column="requiredFieldCode"/>
        <result property="requiredFieldName" column="requiredFieldName"/>
        <result property="nodeFormula" column="nodeFormula"/>
        <result property="gooflowType" column="gooflowType"/>
        <result property="gooflowLeft" column="gooflowLeft"/>
        <result property="gooflowTop" column="gooflowTop"/>
        <result property="gooflowWidth" column="gooflowWidth"/>
        <result property="gooflowHeight" column="gooflowHeight"/>
        <result property="gooflowAlt" column="gooflowAlt"/>
        <result property="comment" column="comment"/>
        <result property="createdBy" column="createdBy"/>
        <result property="createdDatetime" column="createdDatetime"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="modifiedDatetime" column="modifiedDatetime"/>
    </resultMap>

    <resultMap type="TreeNode" id="ZTreeNodeResult">
        <result property="id" column="uuid"/>
        <result property="pid" column="flow_uuid"/>
        <result property="name" column="node_name"/>
        <result property="code" column="node_code"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="FlowNodeResult">
        select * from tbl_sys_flow_node where flow_uuid = #{flowUuid} order by node_code asc
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="Integer">
        select count(uuid) as total from tbl_sys_flow_node where flow_uuid = #{flowUuid} order by node_code asc
    </select>

    <!-- 查找指定-->
    <select id="listByUuid" resultType="com.xerp.core.entity.FlowNode" resultMap="FlowNodeResult">
        select * from tbl_sys_flow_node where uuid = #{uuid}
    </select>

    <!-- 查找 樹-->
    <select id="flowNodeZTree" parameterType="TreeNode" resultMap="ZTreeNodeResult">
        select uuid,flow_uuid,node_code,node_name,status from tbl_sys_flow_node where flow_uuid = #{flowUuid} order by node_code asc
    </select>

    <!-- 查找 节点-->
    <select id="getStartNodeByFlowUuid" resultType="com.xerp.core.entity.FlowNode" resultMap="FlowNodeResult">
        select uuid,flow_uuid,node_type,node_code,node_name,status from tbl_sys_flow_node where flow_uuid = #{flowUuid} and node_type = '00'
    </select>


    <!-- 新增-->
    <insert id="insertData">
        insert into tbl_sys_flow_node
            (uuid,
            flow_uuid,
            status,
            node_code,
            node_name,
            node_type,
            handler_role_code,
            handler_role_name,
            handler_field_code,
            handler_field_name,
            handler_code,
            handler_name,
            editable_field,
            required_field_code,
            required_field_name,
            node_formula,
            gooflow_type,
            gooflow_left,
            gooflow_top,
            gooflow_width,
            gooflow_height,
            gooflow_alt,
            comment,
            created_by,
            created_datetime,
            modified_by,
            modified_datetime)values
            (#{uuid},
            #{flowUuid},
            #{status},
            #{nodeCode},
            #{nodeName},
            #{nodeType},
            #{handlerRoleCode},
            #{handlerRoleName},
            #{handlerFieldCode},
            #{handlerFieldName},
            #{handlerCode},
            #{handlerName},
            #{editableField},
            #{requiredFieldCode},
            #{requiredFieldName},
            #{nodeFormula},
            #{gooflowType},
            #{gooflowLeft},
            #{gooflowTop},
            #{gooflowWidth},
            #{gooflowHeight},
            #{gooflowAlt},
            #{comment},
            #{createdBy},
            #{createdDatetime},
            #{modifiedBy},
            #{modifiedDatetime})
    </insert>

    <!-- 更新-->
    <update id="updateData">
        update tbl_sys_flow_node set
            flow_uuid = #{flowUuid},
            status = #{status},
            node_code = #{nodeCode},
            node_name = #{nodeName},
            node_type = #{nodeType},
            handler_role_code = #{handlerRoleCode},
            handler_role_name = #{handlerRoleName},
            handler_field_code = #{handlerFieldCode},
            handler_field_name = #{handlerFieldName},
            handler_code = #{handlerCode},
            handler_name = #{handlerName},
            editable_field = #{editableField},
            required_field_code = #{requiredFieldCode},
            required_field_name = #{requiredFieldName},
            node_formula = #{nodeFormula},
            gooflow_type = #{gooflowType},
            gooflow_left = #{gooflowLeft},
            gooflow_top = #{gooflowTop},
            gooflow_width = #{gooflowWidth},
            gooflow_height = #{gooflowHeight},
            gooflow_alt = #{gooflowAlt},
            comment = #{comment},
            modified_by = #{modifiedBy},
            modified_datetime = #{modifiedDatetime}
        where uuid = #{uuid}
	</update>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_flow_node where uuid = #{uuid}
    </delete>

</mapper>
