<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IFlowNodeHandlerDAO">
    <resultMap type="FlowNodeHandler" id="ResultSet">
        <result property="uuid" column="uuid"/>
        <result property="nodeUuid" column="nodeUuid"/>
        <result property="handlerCode" column="handlerCode"/>
        <result property="handlerName" column="handlerName"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="ResultSet">
        select * from tbl_sys_flow_node_handler where node_uuid = #{nodeUuid} order by handler_code asc
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="Integer">
        select count(uuid) as total from tbl_sys_flow_node_handler where node_uuid = #{nodeUuid} order by handler_code asc
    </select>

    <!-- 查找指定-->
    <select id="listByUuid" resultType="com.xerp.core.entity.FlowNodeHandler" resultMap="ResultSet">
        select * from tbl_sys_flow_node_handler where uuid = #{uuid}
    </select>

    <!-- 新增-->
    <insert id="insertData">
        insert into tbl_sys_flow_node_handler
            (uuid,
            node_uuid,
            handler_code,
            handler_name)
            values
            (#{uuid},
            #{nodeUuid},
            #{handlerCode},
            #{handlerName})
    </insert>

    <!-- 更新-->
    <update id="updateData">
        update tbl_sys_flow_node_handler set
            handler_code = #{handlerCode},
            handler_name = #{handlerName}
        where uuid = #{uuid}
	</update>

    <!-- 刪除-->
    <delete id="deleteDataByUuid">
        delete from tbl_sys_flow_node_handler where uuid = #{uuid}
    </delete>

    <!-- 刪除-->
    <delete id="deleteDataByNodeUuid">
        delete from tbl_sys_flow_node_handler where node_uuid = #{nodeUuid}
    </delete>

</mapper>
