<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IFlowDirectionDAO">
    <resultMap type="FlowDirection" id="FlowDirectionResult">
        <result property="uuid" column="uuid"/>
        <result property="flowUuid" column="flowUuid"/>
        <result property="nodeUuid" column="nodeUuid"/>
        <result property="directionType" column="directionType"/>
        <result property="directionCode" column="directionCode"/>
        <result property="directionName" column="directionName"/>
        <result property="targetNodeUuid" column="targetNodeUuid"/>
        <result property="targetNodeName" column="targetNodeName"/>
        <result property="gooflowType" column="gooflowType"/>
        <result property="gooflowM" column="gooflowM"/>
        <result property="gooflowAlt" column="gooflowAlt"/>
        <result property="comment" column="comment"/>
        <result property="sort" column="sort"/>
        <result property="createdBy" column="createdBy"/>
        <result property="createdDatetime" column="createdDatetime"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="modifiedDatetime" column="modifiedDatetime"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="FlowDirectionResult">
        select * from tbl_sys_flow_direction where flow_uuid = #{0} and node_uuid = #{1} order by sort asc
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="Integer">
        select count(uuid) as total from tbl_sys_flow_direction where flow_uuid = #{flowUuid} and node_uuid = #{nodeUuid} order by sort asc
    </select>

    <!-- 查找指定-->
    <select id="listByUuid" parameterType="com.xerp.core.entity.FlowDirection"  resultMap="FlowDirectionResult">
        select * from tbl_sys_flow_direction where uuid = #{uuid}
    </select>

    <!-- 查找Flow下的流向-->
    <select id="listByFlowUuid" parameterType="com.xerp.core.entity.FlowDirection"  resultMap="FlowDirectionResult">
        select * from tbl_sys_flow_direction where flow_uuid = #{flowUuid} and direction_type = '01'
    </select>

    <!-- 新增-->
    <insert  id="insertData">
        insert into tbl_sys_flow_direction
        (uuid,
        flow_uuid,
        node_uuid,
        direction_type,
        direction_code,
        direction_name,
        target_node_uuid,
        target_node_name,
        comment,
        gooflow_type,
        gooflow_m,
        gooflow_alt,
        sort,
        created_by,
        created_datetime,
        modified_by,
        modified_datetime)
        values
        (#{uuid},
        #{flowUuid},
        #{nodeUuid},
        #{directionType},
        #{directionCode},
        #{directionName},
        #{targetNodeUuid},
        #{targetNodeName},
        #{gooflowType},
        #{gooflowM},
        #{gooflowAlt},
        #{comment},
        #{sort},
        #{createdBy},
        #{createdDatetime},
        #{modifiedBy},
        #{modifiedDatetime})
    </insert >

    <!-- 更新-->
    <update id="updateData">
        update tbl_sys_flow_direction set
            direction_type = #{directionType},
            direction_code = #{directionCode},
            direction_name = #{directionName},
            target_node_uuid = #{targetNodeUuid},
            target_node_name = #{targetNodeName},
            gooflow_type = #{gooflowType},
            gooflow_m = #{gooflowM},
            gooflow_alt = #{gooflowAlt},
            comment = #{comment},
            sort = #{sort},
            modified_by = #{modifiedBy},
            modified_datetime = #{modifiedDatetime}
        where uuid = #{uuid}
	</update>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_flow_direction where uuid = #{uuid}
    </delete>

</mapper>
