<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IMenuOptionDAO">
    <resultMap type="MenuOption" id="MenuOptionResult">
        <result property="uuid" column="uuid"/>
        <result property="status" column="status"/>
        <result property="menuCode" column="menuCode"/>
        <result property="menuName" column="menuName"/>
        <result property="unfold" column="unfold"/>
        <result property="leftPath" column="leftPath"/>
        <result property="mainPath" column="mainPath"/>
        <result property="comment" column="comment"/>
        <result property="sort" column="sort"/>
        <result property="createdBy" column="createdBy"/>
        <result property="createdDatetime" column="createdDatetime"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="modifiedDatetime" column="modifiedDatetime"/>
    </resultMap>

    <resultMap type="TreeNode" id="ZTreeNodeResult">
        <result property="id" column="uuid"/>
        <result property="name" column="menu_name"/>
        <result property="code" column="menu_code"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="MenuOptionResult">
        select * from tbl_sys_menu_option where 1 = 1 order by sort asc
        <if test="startRow != null and  rows!= null">
            limit #{startRow},#{rows}
        </if>
    </select>

    <!-- 查找所有 -->
    <select id="listByParentUuid" parameterType="com.xerp.core.entity.MenuOption" resultMap="MenuOptionResult">
        select * from tbl_sys_menu_option where parent_uuid = #{parentUuid} order by sort asc
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="int">
        select count(uuid) as total from tbl_sys_menu_option where 1 = 1 order by sort asc
    </select>

    <!-- 查找指定-->
    <select id="listByUuid" resultType="com.xerp.core.entity.MenuOption" resultMap="MenuOptionResult">
        select * from tbl_sys_menu_option where uuid = #{uuid}
    </select>

    <!-- 查找指定-->
    <select id="listByCode" resultType="com.xerp.core.entity.MenuOption" resultMap="MenuOptionResult">
        select * from tbl_sys_menu_option where menu_code = #{code}
    </select>

    <!-- 查找 樹-->
    <select id="menuOptionZTree" resultType="TreeNode" resultMap="ZTreeNodeResult">
        select uuid,parent_uuid,menu_code,menu_name,status,sort from tbl_sys_menu_option where 1 = 1
        <if test='_parameter != null and _parameter != "" '>
            and parent_uuid = #{parentUuid}
        </if>
        order by sort asc
    </select>

    <!-- 新增-->
    <insert  id="insertData">
        insert into tbl_sys_menu_option
        (uuid,parent_uuid,status,menu_code,menu_name,unfold,left_path,main_path,comment,sort,created_by,created_datetime,modified_by,modified_datetime) values
        (#{uuid},#{parentUuid},#{status},#{menuCode},#{menuName},#{unfold},#{leftPath},#{mainPath},#{comment},#{sort},#{createdBy},#{createdDatetime},#{modifiedBy},#{modifiedDatetime})
    </insert >

    <!-- 更新-->
    <update id="updateData">
        update tbl_sys_menu_option set
            status = #{status},
            menu_code = #{menuCode},
            menu_name = #{menuName},
            unfold = #{unfold},
            left_path = #{leftPath},
            main_path = #{mainPath},
            comment = #{comment},
            sort = #{sort},
            modified_by = #{modifiedBy},
            modified_datetime = #{modifiedDatetime}
        where uuid=#{uuid}
	</update>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_menu_option where uuid=#{uuid}
    </delete>
</mapper>
