<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IMenuModuleDAO">
    <resultMap type="MenuModule" id="MenuModuleResult">
        <result property="uuid" column="uuid"/>
        <result property="status" column="status"/>
        <result property="moduleCode" column="moduleCode"/>
        <result property="moduleName" column="moduleName"/>
        <result property="moduleIcons" column="moduleIcons"/>
        <result property="comment" column="comment"/>
        <result property="sort" column="sort"/>
        <result property="createdBy" column="createdBy"/>
        <result property="createdDatetime" column="createdDatetime"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="modifiedDatetime" column="modifiedDatetime"/>
    </resultMap>

    <resultMap type="TreeNode" id="ZTreeNodeResult">
        <result property="id" column="uuid"/>
        <result property="name" column="module_name"/>
        <result property="code" column="module_code"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="MenuModuleResult">
        select * from tbl_sys_menu_module where 1 = 1 order by sort asc
        <if test="startRow != null and  rows!= null">
            limit #{startRow},#{rows}
        </if>
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="int">
        select count(uuid) as total from tbl_sys_menu_module where 1 = 1 order by sort asc
    </select>

    <!-- 查找指定-->
    <select id="listByUuid" resultType="com.xerp.core.entity.MenuModule" resultMap="MenuModuleResult">
        select * from tbl_sys_menu_module where uuid = #{uuid}
    </select>

    <!-- 查找指定-->
    <select id="listByCode" resultType="com.xerp.core.entity.MenuModule" resultMap="MenuModuleResult">
        select * from tbl_sys_menu_module where module_code = #{code}
    </select>

    <!-- 查找 樹-->
    <select id="menuModuleListZTree" resultType="TreeNode" resultMap="ZTreeNodeResult">
        select uuid,module_code,module_name,status,sort from tbl_sys_menu_module where 1 = 1 order by sort asc
    </select>

    <!-- 新增-->
    <insert  id="insertData">
        insert into tbl_sys_menu_module
        (uuid,status,module_code,module_name,module_icons,comment,sort,created_by,created_datetime,modified_by,modified_datetime) values
        (#{uuid},#{status},#{moduleCode},#{moduleName},#{moduleIcons},#{comment},#{sort},#{createdBy},#{createdDatetime},#{modifiedBy},#{modifiedDatetime})
    </insert >

    <!-- 更新-->
    <update id="updateData">
        update tbl_sys_menu_module set
            status = #{status},
            module_code = #{moduleCode},
            module_name = #{moduleName},
            module_icons = #{moduleIcons},
            comment = #{comment},
            sort = #{sort},
            modified_by = #{modifiedBy},
            modified_datetime = #{modifiedDatetime}
        where uuid=#{uuid}
	</update>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_menu_module where uuid=#{uuid}
    </delete>
</mapper>
