<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IPortalDAO">
    <resultMap type="Portal" id="PortalResult">
        <result property="uuid" column="uuid"/>
        <result property="status" column="status"/>
        <result property="portalCode" column="portalCode"/>
        <result property="portalName" column="portalName"/>
        <result property="comment" column="comment"/>
        <result property="sort" column="sort"/>
        <result property="createdBy" column="createdBy"/>
        <result property="createdDatetime" column="createdDatetime"/>
        <result property="modifiedBy" column="modifiedBy"/>
        <result property="modifiedDatetime" column="modifiedDatetime"/>
    </resultMap>

    <resultMap type="TreeNode" id="ZTreeNodeResult">
        <result property="id" column="uuid"/>
        <result property="pid" column="portal_code"/>
        <result property="name" column="portal_name"/>
        <result property="code" column="portal_code"/>
        <result property="status" column="status"/>
        <result property="iconSkin" column="sort"/>
    </resultMap>


    <!-- 查找所有 -->
    <select id="listData" resultMap="PortalResult">
        select * from tbl_sys_portal where 1 = 1 order by sort asc
        <if test="startRow != null and  rows!= null">
            limit #{startRow},#{rows}
        </if>
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="int">
        select count(uuid) as total from tbl_sys_portal where 1 = 1 order by sort asc
    </select>

    <!-- 查找指定 -->
    <select id="listByUuid" resultType="com.xerp.core.entity.Portal" resultMap="PortalResult">
        select * from tbl_sys_portal where uuid = #{uuid}
    </select>

    <!-- 查找指定 -->
    <select id="listByCode" resultType="com.xerp.core.entity.Portal" resultMap="PortalResult">
        select * from tbl_sys_portal where portal_code = #{code}
    </select>

    <!-- 查找所有 不分層-->
    <select id="listZTree" parameterType="TreeNode" resultMap="ZTreeNodeResult">
        select uuid, portal_code, portal_name, status, sort
        from tbl_sys_portal
        where 1 = 1  order by sort asc
    </select>

    <!-- 新增 -->
    <insert id="insertData">
        insert into tbl_sys_portal
        (uuid,status,portal_code,portal_name,comment,sort,created_by,created_datetime,modified_by,modified_datetime)
        values
        (#{uuid},#{status},#{portalCode},#{portalName},#{comment},#{sort},#{createdBy},#{createdDatetime},#{modifiedBy},#{modifiedDatetime})
    </insert>

    <!-- 更新 -->
    <update id="updateData">
        update tbl_sys_portal set
            portal_code = #{portalCode},
            portal_name = #{portalName},
            comment = #{comment},
            sort = #{sort},
            status = #{status},
            modified_by = #{modifiedBy},
            modified_datetime = #{modifiedDatetime}
        where uuid=#{uuid}
	</update>

    <!-- 刪除 -->
    <delete id="deleteData">
        delete from tbl_sys_portal where uuid = #{uuid}
    </delete>
</mapper>
