<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IRolePermissionDAO">
    <resultMap type="RolePermission" id="RolePermissionResult">
        <result property="uuid" column="uuid"/>
        <result property="roleCode" column="role_code"/>
        <result property="permissionCode" column="permission_code"/>
        <result property="permissionName" column="permission_Name"/>
        <result property="permissionUrl" column="permission_url"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDatetime" column="created_datetime"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="RolePermissionResult">
        select
        tbl_sys_role_permission.*,
        tbl_sys_permission.permission_name,
        tbl_sys_permission.permission_url
         from tbl_sys_role_permission
          left join tbl_sys_permission on tbl_sys_role_permission.permission_code = tbl_sys_permission.permission_code
        where tbl_sys_role_permission.role_code = #{condition01}
         order by tbl_sys_role_permission.permission_code asc
        <if test="startRow != null and  rows!= null">
            limit #{startRow},#{rows}
        </if>
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="int">
        select count(uuid) as total from tbl_sys_role_permission where role_code = #{roleCode}
    </select>

    <!-- 統計個數 -->
    <select id="listByCode" resultType="int">
        select count(uuid) from tbl_sys_role_permission where role_code = #{0} and permission_code = #{1}
    </select>

    <!-- 新增-->
    <insert id="insertData">
        insert into tbl_sys_role_permission
        (uuid,role_code,permission_code,created_by,created_datetime) values
        (#{uuid},#{roleCode},#{permissionCode},#{createdBy},#{createdDatetime})
    </insert>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_role_permission where uuid=#{uuid}
    </delete>
</mapper>
