<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xerp.core.dao.IRoleUserDAO">
    <resultMap type="RoleUser" id="RoleUserResult">
        <result property="uuid" column="uuid"/>
        <result property="roleCode" column="role_code"/>
        <result property="userCode" column="user_code"/>
        <result property="userName" column="user_Name"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDatetime" column="created_datetime"/>
    </resultMap>

    <!-- 查找所有-->
    <select id="listData" resultMap="RoleUserResult">
        select
        tbl_sys_role_user.*,
        tbl_sys_user.user_name
         from tbl_sys_role_user
          left join tbl_sys_user on tbl_sys_role_user.user_code = tbl_sys_user.user_code
        where tbl_sys_role_user.role_code = #{condition01}
         order by tbl_sys_role_user.user_code asc
        <if test="startRow != null and  rows!= null">
            limit #{startRow},#{rows}
        </if>
    </select>

    <!-- 統計個數-->
    <select id="listCount" resultType="int">
        select count(uuid) as total from tbl_sys_role_user where role_code = #{roleCode}
    </select>

    <!-- 統計個數 -->
    <select id="listByCode" resultType="int">
        select count(uuid) from tbl_sys_role_user where role_code = #{0} and user_code = #{1}
    </select>

    <!-- 新增-->
    <insert id="insertData">
        insert into tbl_sys_role_user
        (uuid,role_code,user_code,created_by,created_datetime) values
        (#{uuid},#{roleCode},#{userCode},#{createdBy},#{createdDatetime})
    </insert>

    <!-- 刪除-->
    <delete id="deleteData">
        delete from tbl_sys_role_user where uuid=#{uuid}
    </delete>
</mapper>
